# Archivos de ejecucion y cache de Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
.venv/
env/

# Archivos de Jupyter o editores de codigo
.ipynb_checkpoints/
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
